In [2]:
import sqlite3
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

In [9]:
connection = sqlite3.connect('./Db-IMDB.db')

**1) List all the directors who directed a 'Comedy' movie in a leap year. (You need to check that
the genre is 'Comedyâ€™ and year is a leap year) Your query should return director name, the
movie name, and the year.**

In [30]:
comedy = pd.read_sql_query("""SELECT a.Name AS Directors, 
d.name AS Genre, 
e.title as Movie_Name, 
e.year as Year FROM Person a
Inner Join M_director b
ON a.PID =b.PID
Inner Join M_Genre c
ON c.ID = b.ID
Inner Join Genre d
ON d.GID= c.GID
Inner Join Movie e
ON e.MID = b.MID
WHERE d.name LIKE '%Comedy%'AND (e.year%4=0) """,connection)


print(comedy)

                 Directors                                  Genre  \
0           Anurag Kashyap      Action, Comedy, Crime
1           Anurag Kashyap      Action, Comedy, Crime
2              Abhinay Deo      Action, Comedy, Crime
3              Abhinay Deo      Action, Comedy, Crime
4             Priyadarshan      Action, Comedy, Crime
5             Anees Bazmee      Action, Comedy, Crime
6             Anees Bazmee      Action, Comedy, Crime
7               Raj Kanwar      Action, Comedy, Crime
8               Raj Kanwar      Action, Comedy, Crime
9            Prakash Mehra      Action, Comedy, Crime
10           Prakash Mehra      Action, Comedy, Crime
11            Anees Bazmee      Action, Comedy, Crime
12            Anees Bazmee      Action, Comedy, Crime
13    Deepak S. Shivdasani      Action, Comedy, Crime
14    Deepak S. Shivdasani      Action, Comedy, Crime
15            Naresh Kumar      Action, Comedy, Crime
16            Naresh Kumar      Action, Comedy, Crime
17           Eeshwar Nivas      Action, Comedy, Crime
18           Eeshwar Nivas      Action, Comedy, Crime
19            Rajat Kapoor    Comedy, Crime, Thriller
20            Rajat Kapoor    Comedy, Crime, Thriller
21            Gauri Shinde      Comedy, Drama, Family
22            Gauri Shinde      Comedy, Drama, Family
23            Ramesh Sippy      Comedy, Drama, Family
24            Ramesh Sippy      Comedy, Drama, Family
25            Vivek Sharma      Comedy, Drama, Family
26    Hrishikesh Mukherjee      Comedy, Drama, Family
27    Hrishikesh Mukherjee      Comedy, Drama, Family
28         Rajesh Mapuskar      Comedy, Drama, Family
29         Rajesh Mapuskar      Comedy, Drama, Family
..                     ...                                    ...
385           Rajat Kapoor   Comedy, Fantasy, Romance
386           Rajat Kapoor   Comedy, Fantasy, Romance
387           Rumi Jaffery            Comedy, Fantasy
388           Rumi Jaffery            Comedy, Fantasy
389   Hrishikesh Mukherjee     Comedy, Musical, Drama
390   Hrishikesh Mukherjee     Comedy, Musical, Drama
391            Indra Kumar     Comedy, Crime, Mystery
392            Indra Kumar     Comedy, Crime, Mystery
393           Rohit Shetty    Action, Comedy, Mystery
394           Rohit Shetty    Action, Comedy, Mystery
395           Sachin Yardi    Comedy, Drama, Thriller
396        Basu Chatterjee      Drama, Family, Comedy
397        Basu Chatterjee      Drama, Family, Comedy
398        Nagesh Kukunoor     Comedy, Crime, Romance
399        Nagesh Kukunoor     Comedy, Crime, Romance
400          Abhishek Jain             Comedy, Family
401          Abhishek Jain             Comedy, Family
402           A. Bhimsingh             Comedy, Family
403           A. Bhimsingh             Comedy, Family
404          Ram Mukherjee  Comedy, Romance, Thriller
405            Vimal Kumar  Comedy, Romance, Thriller
406            Vimal Kumar  Comedy, Romance, Thriller
407        Nagesh Kukunoor              Drama, Comedy
408        Nagesh Kukunoor              Drama, Comedy
409         Nikkhil Advani   Animation, Comedy, Drama
410         Nikkhil Advani   Animation, Comedy, Drama
411                   Brij             Comedy, Action
412                   Brij             Comedy, Action
413             Aspi Irani    Comedy, Musical, Action
414             Salim Raza    Comedy, Horror, Musical

                       Movie_Name    Year
0              Gangs of Wasseypur    2012
1              Gangs of Wasseypur    2012
2                       Blackmail  I 2018
3                       Blackmail  I 2018
4                      Hera Pheri    2000
5                  Singh Is Kinng    2008
6                  Singh Is Kinng    2008
7                         Deewana    1992
8                         Deewana    1992
9                      Hera Pheri    1976
10                     Hera Pheri    1976
11                     No Problem  I 2010
12                     No Problem  I 2010
13            Mr. White Mr. Black    2008
14            Mr. White Mr. Black    2008
15                  Gora Aur Kala    1972
16                  Gora Aur Kala    1972
17   My Name Is Anthony Gonsalves    2008
18   My Name Is Anthony Gonsalves    2008
19                         Mithya    2008
20                         Mithya    2008
21               English Vinglish    2012
22               English Vinglish    2012
23                Seeta Aur Geeta    1972
24                Seeta Aur Geeta    1972
25                     Bhoothnath    2008
26                     Khubsoorat    1980
27                     Khubsoorat    1980
28             Ferrari Ki Sawaari    2012
29             Ferrari Ki Sawaari    2012
..                            ...     ...
385                        Fatso!    2012
386                        Fatso!    2012
387            God Tussi Great Ho    2008
388            God Tussi Great Ho    2008
389                      Bawarchi    1972
390                      Bawarchi    1972
391                         Masti    2004
392                         Masti    2004
393                        Sunday  I 2008
394                        Sunday  I 2008
395                    C Kkompany    2008
396                   Apne Paraye    1980
397                   Apne Paraye    1980
398             Bombay to Bangkok    2008
399             Bombay to Bangkok    2008
400               Kevi Rite Jaish    2012
401               Kevi Rite Jaish    2012
402               Joroo Ka Ghulam    1972
403               Joroo Ka Ghulam    1972
404                        Leader    1964
405                 Chhote Sarkar    1996
406                 Chhote Sarkar    1996
407             Hyderabad Blues 2    2004
408             Hyderabad Blues 2    2004
409                  Delhi Safari    2012
410                  Delhi Safari    2012
411              Bombay 405 Miles    1980
412              Bombay 405 Miles    1980
413                  Garam Masala    1972
414                  Bach ke Zara    2008

[415 rows x 4 columns]

**2) List the names of all the actors who played in the movie 'Anand' (1971)**

# The Inner Join of M_cast and Person is returning no values, seems the dataset is incorrect

In [45]:
Anand = pd.read_sql_query("""SELECT a.NAME FROM Person a
Inner Join M_cast b
ON a.PID  = b.PID
Inner Join Movie c
ON c.MID = b.MID
WHERE c.title LIKE '%Anand%'""",connection)

print(Anand)

Empty DataFrame
Columns: [Name]
Index: []

**List all the actors who acted in a film before 1970 and in a film after 1990. (That is: < 1970
and > 1990.)**

In [47]:
Actors = pd.read_sql_query("""SELECT a.NAME FROM Person a
Inner Join M_cast b
ON a.PID  = b.PID
Inner Join Movie c
ON c.MID = b.MID
WHERE c.year NOT BETWEEN 1970 AND 1990""",connection)

print(Actors)

Empty DataFrame
Columns: [Name]
Index: []

**List all directors who directed 10 movies or more, in descending order of the number of
movies they directed. Return the directors' names and the number of movies each of them
directed.**

**a.For each year, count the number of movies in that year that had only female actors.**

**b. Now include a small change: report for each year the percentage of movies in that
year with only female actors, and the total number of movies made that year. For
example, one answer will be: 1990 31.81 13522 meaning that in 1990 there were
13,522 movies, and 31.81% had only female actors. You do not need to round your
answer.**

**Find the film(s) with the largest cast. Return the movie title and the size of the cast. By "cast
size" we mean the number of distinct actors that played in that movie: if an actor played
multiple roles, or if it simply occurs multiple times in casts, we still count her/him only
once.**

**A decade is a sequence of 10 consecutive years. For example, say in your database you have
movie information starting from 1965. Then the first decade is 1965, 1966, ..., 1974; the
second one is 1967, 1968, ..., 1976 and so on. Find the decade D with the largest number of
films and the total number of films in D.**

**Find the actors that were never unemployed for more than 3 years at a stretch. (Assume
that the actors remain unemployed between two consecutive movies).**

**Find all the actors that made more movies with Yash Chopra than any other director.**

**The Shahrukh number of an actor is the length of the shortest path between the actor and
Shahrukh Khan in the "co-acting" graph. That is, Shahrukh Khan has Shahrukh number 0; all
actors who acted in the same film as Shahrukh have Shahrukh number 1; all actors who
acted in the same film as some actor with Shahrukh number 1 have Shahrukh number 2, etc.
Return all actors whose Shahrukh number is 2.**